.input-search {
    border: 1px solid var(--ion-color-primary);
}

.input-search .native-input {
    padding: 10px;
}

.item-search {}

.item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}